/*
$darkBlue: #323780;
*/
$darkBlue: #1D9090;
$white: #F8F8FF;
$lightGrey: #dee0e2;
$darkGrey: #222222;
$lightGreen: #C5D7A1;
$lightRed: #E8C1B3;
$darkRed: #DB4D4D;
/*
$darkRed: #BC2626;
*/
$lightBlue: #BAD0FF;

@font-face {
  font-family: 'Technically, But Not Actually';
  src: url('/fonts/Technically, But Not Actually.ttf');
}

@font-face {
  font-family: 'Aller_Bd';
  src: url('/fonts/Aller_Bd.ttf');
}