.container-fluid
  .row-fluid
    .span8.offset2.header-borders
      %h2 Contact
      %p.lead If you have a question to ask, please complete the form below to email me. I'll get back to you as soon as I can!
      %form{:method=>'post', :action=>'/contact'}
        %label{:for=>'name'}
          %strong Name
        %input#name{:type=>'text', :name=>'name'}
        %label{:for=>'email'}
          %strong Email address
        %input#email{:type=>'text'}
        %label{:for=>'message'}
          %strong Message
        %input#message{:type=>'text'}
        %br
        %br
        %input.btn.btn-large{:type=>'submit', :value=>'Email me'}