.row-fluid
  .span12.custom-footer
    .container-fluid
      .span6
        %ul.inline.pull-left
          %li
            %a{:href=>'/'} Home
          %li
            %a{:href=>'/contact'} Contact
      .span6
        %ul.inline.pull-right
          %li
            Built by
            %a{:href=>'http://www.dave-thompson.co.uk'} Dave Thompson