.container-fluid
  .row-fluid
    .span5.offset2
      .row-fluid
        .span12
          %h2 Classes available
          %p.lead Currently I have five classes.
          .available-class
            .class-icon.text-center.pull-left KB
            %h3 Kettlebells
            %p.lead
              One piece of equipment, one amazing workout!
              %br
              %a{:href=>'/classes/kettlebells'} More info
          .available-class
            .class-icon.text-center.pull-left PF
            %h3 Park fitness
            %p.lead
              Get outside in the great outdoors and have some fun with this workout.
              %br
              %a{:href=>'/classes/park-fitness'} More info
          .available-class
            .class-icon.text-center.pull-left MF
            %h3 Mature fitness
            %p.lead
              You are never too old for exercise!
              %br
              %a{:href=>'/classes/mature-fitness'} More info
          .available-class
            .class-icon.text-center.pull-left BF
            %h3 Buggy Fitness
            %p.lead
              Recently had a baby and want to get back into shape? No need for a babysitter, bring your buggy and have some fun with this workout!
              %br
              %a{:href=>'/classes/buggy-fitness'} More info
          .available-class
            .class-icon.text-center.pull-left EM
            %h3 Exercise to music
            %p.lead
              This class gets the music and the heart pumping, lots of aerobic exercise along with high-tempo music.
              %br
              %a{:href=>'/classes/exercise-to-music'} More info
      .row-fluid
        .span12
          %h2 News
          %p.lead
            This latest news from Annie's.
      .row-fluid
        .span12
          %h2 Blog
          %p.lead
            I blog about fitness and nutrition.
    .span3
      .row-fluid
        .span12
          %h2 About me
          %p
            %img.img-polaroid{:src=>'/images/anne.jpg', :alt=>'Anne'}
          %p.lead Hi, my name is Anne and I run Annie's Health and Fitness.
          %p.lead Duis eleifend leo sit amet velit semper, id gravida tortor dictum. Integer non orci non odio pellentesque aliquam. Phasellus rutrum enim lectus, in placerat est rhoncus id. Ut egestas, lorem sit amet vestibulum feugiat, justo ligula lacinia velit, eu vulputate orci mauris eget massa.
      .row-fluid
        .span12
          %h2 What people think
          .testimonial-quote
            Anne is great and the classes are even better! Would recommend anyone to come and give them a try.
          .testimonial-from.text-right
            %small
              %strong  John, Marden
          .testimonial-quote
            In hac habitasse platea dictumst. Mauris at luctus nibh, eu laoreet nibh. Mauris bibendum metus et quam gravida, adipiscing placerat velit porta. Vestibulum eu bibendum orci. Nulla at sapien ligula. In ultrices posuere sollicitudin. Mauris imperdiet nisl arcu, id ultrices odio tempor non. Nulla iaculis consectetur porta. Duis in mollis massa. Mauris pellentesque ullamcorper lectus in interdum.
          .testimonial-from.text-right
            %small
              %strong  Beverly, Colliers Wood
%input#page-id{value: 'home', type: 'hidden'}