.container-fluid
  .row-fluid
    .span10.offset1.text-center.nav-row
      %ul.inline.custom-nav-list
        %li.custom-nav-item
          %a#home{:href=>'/'} Home
        %li.custom-nav-item
          %a#kettlebells{:href=>url('/classes/kettlebells')} Kettlebells
        %li.custom-nav-item
          %a#park-fitness{:href=>url('/classes/park-fitness')} Park fitness
        %li.custom-nav-item
          %a#mature-fitness{:href=>url('/classes/mature-fitness')} Mature fitness
        %li.custom-nav-item
          %a#buggy-fitness{:href=>url('/classes/buggy-fitness')} Buggy fitness
        %li.custom-nav-item
          %a#exercise-to-music{:href=>url('/classes/exercise-to-music')} Exercise to music