.container-fluid
  .row-fluid
    .span8.offset2
      %h2 Kettlebells
  .row-fluid
    .span8.offset2
      .row-fluid
        .span3.days.text-center
          Saturday
          %br
          Wednesday
        .span3.times.text-center
          9am
        .span3.equipment.text-center
          Marden Village Hall
        .span3.cost.text-center
          £5
  .row-fluid
    .span8.offset2
      %p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pulvinar mollis velit sed consequat. Maecenas blandit arcu sit amet dolor ultrices mattis. Vivamus feugiat pharetra massa.
  .row-fluid
    .span8.offset2
      .row-fluid
        .span4
          %h3 What do I need to wear?
          %p.lead Trainers is the most essential bit of kit! You will work up a sweat so I recommend wearing some sports gear!
        .span4
          %h3 How long does the class last for?
          %p.lead The class lasts about an hour.
        .span4
          %h3 What will I do in the class?
          %p.lead You will use just one piece of equipment, the kettlebell. You will do exercises to strengthen every major muscle group in the body.
%input#page-id{value: 'kettlebells', type: 'hidden'}