.container-fluid
  .row-fluid
    .span8.offset2
      %h2 Mature fitness
  .row-fluid
    .span8.offset2
      .row-fluid
        .span3.days.text-center
          Tuesday
          %br
          Thursday
        .span3.times.text-center
          9am
        .span3.equipment.text-center
          Marden Village Hall
        .span3.cost.text-center
          £5
  .row-fluid
    .span8.offset2
      %p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pulvinar mollis velit sed consequat. Maecenas blandit arcu sit amet dolor ultrices mattis. Vivamus feugiat pharetra massa.
      %p.lead Ut facilisis fringilla aliquam. Quisque tristique consectetur tellus, ut vulputate nisl aliquam a. In facilisis risus vitae nisi gravida lobortis. Aenean sit amet nunc semper erat tempus tristique. Cras suscipit elementum sem ut tincidunt. Proin lacus justo, fringilla vel pharetra eget, pellentesque auctor justo.
  .row-fluid
    .span8.offset2
      .row-fluid
        .span4
          %h3 What do I need to wear?
          %p.lead Praesent non metus vitae turpis malesuada vulputate at nec metus. Nam nulla dui, vulputate sed cursus nec, eleifend in leo.
        .span4
          %h3 How long does the class last for?
          %p.lead The class lasts about an hour.
        .span4
          %h3 What will I do in the class?
          %p.lead Fusce id elementum diam. Nullam cursus in nisl vitae cursus. Curabitur sit amet consequat lorem, auctor aliquam velit. Vivamus non orci ultricies, consectetur lorem viverra, iaculis dui. Fusce commodo nisi erat, in dapibus lacus ornare at.
%input#page-id{value: 'mature-fitness', type: 'hidden'}